# Python Basics

In [1]:
print("Hello World")

Hello World

# Addition Of Two Numbers

In [2]:
a=2 
b=2
c = a + b
print(c)

4

# Subtraction of Two Numbers

In [3]:
a = 4
b = 8
c = a - b
print(c)

-4

# Multiplication of two numbers

In [4]:
a = 7
b = 8
c = a*b
print(c)

56

# Division of two numbers

In [5]:
a = 5
b = 8
c = a/b
print(c)

0.625

# Modulus of two numbers   # Modullus give  remainder

In [6]:
a = 10   
b = 3
c = a%b
print(c)

1

# Type # syntax = ptint(type())

In [7]:
a = 6
print(type(a))

<class 'int'>

In [8]:
a = " Uditya Seth" 
print(type(a))

<class 'str'>

In [9]:
a = 6.5
print(type(a))

<class 'float'>

In [10]:
a =  True
print(type(a))

<class 'bool'>

In [11]:
a = "1 ,abc"
print(type(a))

<class 'str'>

In [12]:
a  = 2
Print(type(a))

NameError: name 'Print' is not defined

In [ ]:
a  = 2
PRINT(type(a))

# List

In [ ]:
a = [ "apple" , " banana" , "grapes"]
print(a)

In [ ]:
print(type(a))

tupple

In [ ]:
a = ("apple" , " banana" , "grapes")
print(a)

In [ ]:
print(type(a))

In [ ]:
x = range(8)
print(x)

In [ ]:
a = { "name" : "uditya" , "age" : 21}
print(a)

In [ ]:
print(type(a))

In [ ]:
x = { "apple" , "banana" , " grapes"}
print(x)

In [ ]:
print(type(x))

In [ ]:
a = {"name" : "uditya", "age" : 21}
print(a)
print(type(a))

In [ ]:
x = range (8)
print (x)

In [ ]:
a = ("apple", "banana", "grapes")
print (a)

In [ ]:
a = {"name" : "uditya", "age" : 21}
print (a)

# LIST IS THE COLLECTION OF DATA IS ORDERED , CHANGEBLE , DUPLICATE, ANY DATA TYPE

In [ ]:
li =[1,2,3,3]
print(li)

In [ ]:
l2 = [" gurav" , "uditya" , "luv"]
print(l2)

In [ ]:
l3 = [ 1 ,"A",2,"B",2,"C"]
print(l3)

 l4 = [ 1, "A" ,True,21,2 ,False]
print(l4)

In [ ]:
# Array
x = [1 , 2 ,3 , 4 ,5]
print(x)

# Indexing

In [ ]:
l1 = [ 1, 2, 3,4, 5 , 6, 7 ,8]
print(l1[3])

In [ ]:
print(l1[7])

In [ ]:
print(l3[3])

# In indexing we start from left to right  0 to number  here number= n-1

In [ ]:
print(l1[3:5])

In [ ]:
print(li[0])

In [ ]:
l2[0]= 5
print(l2[0])

In [ ]:
l1= [1,2,3,4,5,6,7,8,9]
print(l1[2:5])

In [ ]:
print(l1[0:10])

In [ ]:
print(l1[:5])

In [ ]:
print(l1[3:])

In [ ]:
print(l1[3:])

NEGATIVE INDEXING - RIGHT TO LEFT  FROM -1

In [ ]:
l1=[1,2,3,4,5,6,7,8]
print(l1[:-3])

In [ ]:
print(l1[-8:])

In [ ]:
print(l1[-4:-2])

In [ ]:
print(l1[-6:-3])

In [ ]:
print(l1[-6])

In [ ]:
Fruits = [ "apple","banana","cherry","orange","kiwi","melon","mango"]
print(Fruits[-4:-1])

In [ ]:
print(Fruits[2:6])

In [ ]:
print(Fruits[0:7])

In [ ]:
print(Fruits[:7])

In [ ]:
print(Fruits[1:])

#change List

In [ ]:
thislist = ["apple","banana","cherry"]
thislist[1]= "blackcurrent"
print(thislist)

In [ ]:
l1=["a", "b","c","d","e","f"]
l1[2]="z"
print(l1)

In [ ]:
l1=["a", "b","c","d","e","f"]
l1[1:3] = "apple"
print(l1)

In [ ]:
thislist = ["apple","banana","cherry"]
thislist[1:3]= ["watermelon"]
print(thislist)

In [ ]:
thislist= ["apple","banana", "cherry"]
thislist[1:3]=["watermelon"]
print(thislist)

# LIST , APPEND , EXTEND , REMOVE , INSERT FUNCTION   [EXTEND - IS USE TO ADD TO LIST ] , [APPEND IS use to add the   anything at the last] , [remove is use in list  not in tupple and it remove speciific string or number] ,  [insert - is use to insert anything by using indexing] , [ list is use to make

In [ ]:
l1= [1,2,3,4,5,55]
l1.append("mango")
print(l1)

In [ ]:
l1=[5,6,7,8,9,28]
l1.append("orange")
print(l1)

In [ ]:
l1=["a", "b","c","d","e","f"]
l1.insert(2,"grapes")
print(l1)

In [ ]:
l1=["appple", "grapes", "banana"]
l1.insert(3,"orange")
print(l1)

In [ ]:
l1 = [1,2,34,5,6]
l1.append("uditya")
print(l1)

In [ ]:
l1 = ["apple","banana","guava"]
l1.insert(1 , "grapes")
print(l1)

In [ ]:
l1 = [ 1, 2, 3, 4,5]
l2 = [ 6, 7, 8, 9, 10]
l1.extend(l2)
print(l1)

In [ ]:
l1 = [ 3, 4, 5, 6, 7, 8 ]
l1.append ( 9)
print(l1)

In [ ]:
l1 = [ 3, 4, 5, 6, 7, 8 ]
l2= [ 3,4,2,6,7,8,9]
l1.extend(l2)
print(l2)

In [ ]:
stud1 = ["A","B","c","d"]
stud2 = ["E","F","g","h"]
stud1.extend(stud2)
print(stud1)
stud1.append("z")
print(stud1)
stud1.insert(1,2)
stud1.insert(4,5)
print(stud1)

In [ ]:
l1 = [ "apple" , "banana", "grapes"]
l1.remove("apple")
print(l1)

In [ ]:
l1 ={"A" ,"A" , "B", "C","D"}
l1.remove("A")                  # set has no indexing
print(l1)

In [ ]:
a = range(100)
print(a)

In [ ]:
l1 = [ "apple","grapes","banana","orange","guava"]
l1.pop()
print(l1)

In [ ]:
l1.pop(3)
print(l1)

In [ ]:
l1.pop(1,2)
print(l1)

In [ ]:
l1 = [ "apple","grapes","banana","orange","guava"]
del l1[2]
print(l1)

In [ ]:
l1 = [ "apple","grapes","banana","orange","guava"]
del l1[2:4]
print(l1)

#pop function is use to remove specifiic index from the list 
#note - if  we not type anything in pop so it delete a the last string from the list
# del is use to delete but during syntax we write dell first  and we use[indexing]  for deletion from list
# where in pop we use(specific index)  and we do not use range in pop

In [ ]:
# delete entire list
l1 = [ "apple","grapes","banana","orange","guava"]
del l1
print(l1)

# the difference between del, remove , pop
remove("specific string" or number)
pop(" specific index")
pop() - delete last iteam automatically
del l1 [range index or specific index ]

In [ ]:
l1 = [ "apple","grapes","banana","orange","guava"]
l1.clear()
print(l1)

clear -  remove all elements - []
in del - it remove all stucture with elements - name not defined

In [ ]:
l1 = [ "apple","grapes","banana","orange","guava"]
l1.sort()
print(l1)

#sorting  - is use to arrange the element in order ( weathher in ascending or decending order)
for decending order sorting - syntax is { l1.sort(reverse = True)} - it reverse the order

In [ ]:
l1 = [ "apple","grapes","banana","orange","guava"]
l1.sort(reverse = True)
print(l1)

In [ ]:
l1 = [ "apple","grapes","banana","orange","guava"]
l2 = l1.copy()
print(l2)
print(l1)

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9]
l2 = list(l1)
print(l1)

In [ ]:
l1 = [1,2,3,4,5,6,7]
l2 = l1[:]
print(l1)

In [ ]:
l1 = [4,5,6,7,8,9,4]
l2 = [1, 2,0.54]
l3 = l1+l2
print(l3)

In [ ]:
l1 = ["apple","grapes","banana"]
x = l1.index("grapes")
print(x)

In [ ]:
l1 = [4,5,6,7,8,9,4]
x = l1.index(7)
print(x)

In [ ]:
l1 = [4,5,6,7,8,9,4,9,9,9,9]
x = l1.count(9)
print(x)

In [ ]:
# mathematical operation
#1 > ARTHIMATIC OPERATIONS -  + , -, / ,% ,// , ** 
#/ - DIVISION GIVE -  QUESTIANT
#% - GIVE REMAINDER
#//- GIVE OUESTIANT IN ONLY INTEGER (// -FLOAR DIVISION)
#** -  EXPONIATIONFUNCTION X**Y

x= 30/4
print(x)

In [ ]:
x = 40%3
print(x)

In [ ]:
x = 42// 5
print(x)

In [ ]:
A = 3 ** 4
print(A)

Assignmment 1

In [ ]:
print("Uditya Seth")        # print() - is use to print anything weather it is a string or variable
print("Hello World")
print(" Hello AAFT ")

In [ ]:
a=2
b=3
c= a+b         #mathematical operations
d= a-b
e= a*b
f= a/b
g= a%b
print(c,d,e,f,g)

In [ ]:
# if we want to know the type
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
a = ("uditya")
print(type(a))

In [ ]:
# list , tupple ,set, dict
banks = [ "icic","hdfc","pnb"]
print(banks)
print(type(banks))

hospitals = ( "apex","apollo","shreeji","dental")
print(hospitals)
print(type(hospitals))

movies = { "romeo","kill","smuf"}
print(movies)
print(type(movies))

d={"name":"uditya","class":"1 year"} # here two thing name is key and uditya is value such like class is a key 1 year is a value
print(d)
print(type(d))

In [ ]:
print(range(0,100))
print(range(45,100))
print(range(-8,50))

In [ ]:
ls = [ "phone","pc","ps","headphones"]
print(ls)
ls = ["phone",2,0.15,'dj']            #list can be changeble 
print(ls)

In [ ]:
# array
x = [ 1, 2 ,3 ,4 ,5]
print(x)
print(type(x))

In [ ]:
# indexing
s = [1,2,5,9,7]
print(s[2])
print(s[3])

In [ ]:
a= ['apple',"grapes","orange",1,2,5,75,95,74]
print(a[2])
print(a[4])
print(a[4:9])
print(a[:5])
print(a[6:])

In [ ]:
# ASSIGNMENT OPERATOR
X=5
X=X+6
print(X)

In [ ]:
# tupple
e=(1,2,3,4,5,)
print(e)
print(type(e))
len(e)

In [ ]:
a = (1 , 2, 3, 4)
thislist = list(a)
thislist
thislist.pop(2)

In [ ]:
t1= ('AAFT')
print(t1)
print(type(t1))

In [ ]:
t1=("AAFT",)
print(t1)                         # for single element we use comma to reprsent a tupple  other wise it show  string in  output intsit of tupple
print(type(t1))

In [ ]:
t2=(1)
print(t2)
print(type(t2))

In [ ]:
t2=(1,)
print(t2)               # for single element to represent  a tupple we use comma instead it show int its type
print(type(t2))

In [ ]:
# indexing in tupple
thistupple=("apple","banana","grapes")
print(thistupple[1])

In [ ]:
t1 = (1,2,3,4,5,6,7,8,9)
print(t1[1])

In [ ]:
print(t1[2:5])

In [ ]:
print(t1[-4:-2])

In [ ]:
print(t1[:])

In [ ]:
print(t1[-4:])

In [ ]:
print(t1[1:])

In [ ]:
print(t1[0:4])

In [ ]:
print(t1[:4])

In [ ]:
print(t1[:-2])

In [ ]:
# list = muttable
# tupple = immutable

In [ ]:
#conversion of tupple into list
l1=(1,2,3,4,5,6)
print(l1)
print(type(l1))
l1=(1,2,3,4,5,6)
c = list(l1)
print(c)
print(type(c))

In [ ]:
# updation of tuple
c[2]=81
print(c)

In [ ]:
# updation of tupple
c[4]=45
print(c)

In [ ]:
# coversion to tupple
x = tuple(c)
print(x)
print(type(x))

In [ ]:
t3 =('apple','grapes','mango')
t2 =list(t3)
print(t2)
print(type(t2))

In [ ]:
t2.remove("apple")

In [ ]:
t2

In [ ]:
t3 = tuple(t2)
print (type(t3))
print(t3)

In [ ]:
tuple1 = (1,2,3,4,5)
y = (33,)
tuple1 += y
print (tuple1)

In [ ]:
tupl1 = ("a","b","c")
tuple2 =(1,2,3)
tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
t1 = ( "apple","grapes","orange")
x =("mango",)
t1  += x
print(t1)

In [ ]:
t1 = ("apple","grapes","orange")
y =t1*2
print(y)

In [ ]:
t1 = (1,2,3,4,5,6,7)
x = t1.index(3)
print(x)

In [ ]:
# strrings
print("hello world")

In [ ]:
print('Hello World')

In [ ]:
x = 'Hello World'
print(x)

In [ ]:
x = ''' python is prog language
      it is case sensitive
      it is easy to understand'''  # it is use ''' ---------                                                    ---------
print(x)                                     ---------------'''     it is use  to write more than one string in program

In [ ]:
a = 'hello, world!'
print(a[5])          # indexing in python we during indexing if there is a gap so we get to know regarding it
print(a[6])                 and comma or special notations to

In [ ]:
print(a[1])

In [ ]:
print(len(a))# len is use to lenght of of our string char or var

In [ ]:
txt = "the best things inlife are free!"
print("the" in txt)                        # in function is use to tell the word which u have entered in a program it is present or not and it gives output in true or false

In [ ]:
txt = "the best things in life are free!"
print("in " in txt)
print("love" not in txt)

In [ ]:
txt = "the best things in life are free!"
print("uditya" in txt)
print("rahul" not in txt) # not in fuction tell wheather this word is present in ur txt or not

In [ ]:
a = (  "Hello World"  )
print(a.strip())      # strip function is use to remove spaceing from front and back side of the word

In [ ]:
a = " rohit "                          # replace is is use to replace single character or sentence in python
print(a.replace("i" ,"R"))

In [ ]:
a = 'kalu'
print(a.upper()) # upper function is use to

In [ ]:
a = 'LIME'
print(a.lower())

In [ ]:
# string concatination
a = " hello"
b = "students"
c = a + b
print(c)

In [ ]:
c = a+ "  " +b
print(c)

In [ ]:
age = 23
txt = " my name is john , i am " + age
print(txt)

In [ ]:
age = 23
txt = f" my name is john , I am {age}"
print(txt)

In [ ]:
price = 59
txt = f" The price is {price} dollars " 
print(txt)

In [ ]:
price = 59
txt = f" The price is {price:.2f} dollars " # for printing a point
print(txt)

In [ ]:
a= "hello india"
print(a.capitalize())       # capitalize is use to write first letter in capital

In [ ]:
txt = " india is my country"
y = txt.title()              # title function is use to write first letter  of each word or sentence
print(y)

In [ ]:
txt = " india is my country"
y = txt.split()              # split function is use to split  letter  of each word or sentence
print(y)

In [ ]:
txt = " india is my country"
y = txt.split()              # split function is use to split  letter  of each word or sentence
print(y)

In [ ]:
txt = " india is my country"
y = txt.count("country")              # split function is use to split  letter  of each word or sentence
print(y)

In [ ]:
txt = " i love apple , apple are my favourite  fruite"
c = txt.count("apple",10,24)
print(c)

In [ ]:
txt = " i love apple , apple are my favourite  fruite"
c = txt.count("favourite") # count tell the positions
print(c)

In [ ]:
txt = " i love apple , apple are my favourite  fruite"
c=txt[5:]

In [ ]:
c

In [ ]:
txt = " i love apple , apple are my favourite  fruite"
c = txt.find("apple")   
print(c)

In [ ]:
set1 = {1,2,3,4,5,6}
print(set1)

In [ ]:
set2 = {1,1,1,2,2,3,3,4,5,6}
print(set2)

In [ ]:
x = {1,2,3,4,5,6}
print(x)

In [ ]:
c ={ "A","B","C","D"}
print(c)

In [ ]:
d = {'a',1,'s',3,'s',5}
print(d)

In [ ]:
print(len(d))
print(len(c))
print(len(x))
print(len(set1))
print(len(set2))

In [ ]:
print(type(d))
print(type(c))
print(type(x))
print(type(set1))
print(type(set2))

In [ ]:
s ={"apple","banana","grapes"}
"grapes" in s

In [ ]:
s ={"apple","banana","grapes"}
s.add("guava")
print(s)

In [ ]:
s ={"apple","banana","grapes"}
x = {"pineapple","mango","papaya"}
s.update(x)
print(s)

In [ ]:
x = {"apple","banana","cherry"}
y = ["kiwi","orange"]
x.update(y)
print(x)

In [ ]:
x = {"apple","banana","grapes"}
x.remove("grapes")
print(x)

In [ ]:
s ={1,2,3,4,5,6}
s.discard(5)
print(x)

In [ ]:
s ={1,2,3,4,5,6}
s.discard(8)              #in discard if we  the other element in set so it will so  no error and print the set as it is
print(x)

In [ ]:
s ={1,2,3,4,5,6}
s.remove(8)        #in remove if we  the other element in set so it will so error
print(x)

In [ ]:
x={1,2,3,4,5,6}
x.clear()
print(x)

In [ ]:
x={1,2,3,4,5,6}
del x
print(x)

In [ ]:
a = {1,2,3,4,5}
b = {6,7,8,9}
d = a.union(b)
print(d)

In [ ]:
a = {1,2,3,4,5}
b = {6,7,8,9}
d = a union b
print(d)

In [ ]:
s = { "a","b","c"}
d = {1,2,3}         # | for joining of two set
e = s|d
print(e)

In [ ]:
s = { "a","b","c"}
y = {1,2,3}
z ={"john","elena"}
c ={"apple","grapes","cherry"}
d = s.union(y,z,c)
print(d)

In [ ]:
s = { "a","b","c"}
y = {1,2,3}
z ={"john","elena"}
c ={"apple","grapes","cherry"}
d = y|z|c|s
print(d)

In [ ]:
c ={"apple","grapes","cherry"}
c.POP()

In [ ]:
c ={"apple","grapes","cherry"}
d ={ 1,2,3,'cherry'}
e=c.intersection(d)  
print(e)

In [ ]:
c ={"apple","grapes","cherry"}
d ={ 1,2,3,'cherry'}
e=d.intersection(c)  
print(e)

In [ ]:
c ={"apple","grapes","cherry"}
d ={ 1,2,3,'cherry'}
e=c.difference(d)  
print(e)

In [ ]:
c ={"apple","grapes","cherry"}
d ={ 1,2,3,'cherry'}
e=d.difference(c)  
print(e)

In [ ]:
# Practice

In [ ]:
setx = {'Smith','Jhon','Bush','clintm'}
sety = {6,7,8,9,'Smith','Bush','Obama'}
print (setx)  #printing function
print (sety)

In [ ]:
x = {'Smith','Jhon','Bush','clintm'}
y = {6,7,8,9,'Smith','Bush','Obama'}
x.update(y)
x

In [ ]:
x = {'Smith','Jhon','Bush','clintm'}
y = {6,7,8,9,'Smith','Bush','Obama'}
x.add('y')
y

In [ ]:
x = {'Smith','Jhon','Bush','clintm'}
y = {6,7,8,9,'Smith','Bush','Obama'}
x.add('y')
y

In [ ]:
x = {'Smith','Jhon','Bush','clintm'}
y = {6,7,8,9,'Smith','Bush','Obama'}
a=x|y # | pipe line operator
a

In [ ]:
x = {'Smith','Jhon','Bush','clintm'}
y = {6,7,8,9,'Smith','Bush','Obama'}
x.union (y)
x

In [ ]:
x = {'Smith','Jhon','Bush','clintm'}
y = {6,7,8,9,'Smith','Bush','Obama'}
x.pop()
y.pop()

In [ ]:
x = {'Smith','Jhon','Bush','clintm'}
y = {6,7,8,9,'Smith','Bush','Obama'}
x.pop()
y.pop()

In [ ]:
x = {'Smith','Jhon','Bush','clintm'}
y = {6,7,8,9,'Smith','Bush','Obama'}
x.remove('Jhon')
print(x)
y.remove(7)
print(y)

In [ ]:
# dictionary 
#order, changeble, do not allow duplicate values 
car_dict={"brand":"bmw","model":"ic","year":"2024"}
print(car_dict)

In [ ]:
# accesing 
print(car_dict["brand"])
print(car_dict["year"])
print(car_dict["model"])
# 2 method of accesing
car_dict.get("brand")
a =car_dict.get("year")
a

In [ ]:
#lenght
print(len(car_dict))
# type
print(type(car_dict))

In [ ]:
# for duplicate key  - it always use the  last  value of particular element
car_dict={"brand":"bmw","model":"ic","year":"2024","year":1965}
print(car_dict)
car_dict={"brand":"bmw","model":"ic","year":"1965","year":2025}

In [ ]:
#for acees keys
car_dict.keys()

In [ ]:
#for acees values
car_dict.values()

In [ ]:
# to change values of dict
car_dict["year"]=2026
car_dict

In [ ]:
#to add new key:values items can be of any data type
car_dict["color"]="red"
car_dict

In [ ]:
# to add any values in dictionary item can be of any data type
d3= {'name':'A',"year":2024,"pass":"true","maarks":[50,60,54]}
d3.update({'years':2025})
d3

In [ ]:
d3['phone_no']=4557
d3

In [ ]:
d3.update({'email':'asds@gmail.com'})
d3

In [ ]:
d3= {'name':'A',"year":2024,"pass":"true","marks":[50,60,54]}
d3.pop("year")
d3

In [ ]:
print(d3.pop())

In [ ]:
d3= {'name':'A',"year":2024,"pass":"true","marks":[50,60,54]}
del d3["marks"]
d3

In [ ]:
del d3
d3

In [ ]:
d3= {'name':'A',"year":2024,"pass":"true","marks":[50,60,54]}
d4=d3.copy()
d4

In [ ]:
myfamily = {
    "child":{
    "name":"emil",
     "year":2004
    },
"child2":{
    "name":"rohit",
    "year":2007
},
"child3":{
    "name": "riya",
     "year":2011
}
}

In [ ]:
myfamily

In [ ]:
print(myfamily["child2"]["name"])

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
a.append(11)
a
print(len(a))

In [ ]:
a[len(a)//2]

In [ ]:
a.insert(4,0)
a

In [ ]:
# an if statement is written
a = 50
b = 100
if b > a:
    print("b is greater than a")

In [ ]:
a = 5766
b = 43875643
if b>a:
    print("b is greater than a")

In [ ]:
#check if number is greater than 0
num = int(input("enter a number"))
if num > 0:
    print("num is positive")

In [ ]:
#if...else statement
#if condition:
#body of if statement
#else:
#body of else statement
num= int(input("enter  a number"))
if num > 0:
    print("given number is positive")
else:
    print("gien number is negative")

In [ ]:
#loop #even odd   - 15/10/24
num = int(input("enter a number"))
if(num%2)==0:
    print("even")
else:
    print("odd")

In [ ]:
# elif
a = 11
b = 11
if b > a:
    print(" b is greater than a")
elif a == b:
    print("a and b are equal")

In [ ]:
num = -5
if num > 0:
    print("positive number")
elif  num < 0 :
    print("negative number")
else:
    print("zero")

In [ ]:
# nested if
num = 5
# outer if statement
if num >= 0:
    #inner if statement
  if  num == 0:
    print ("number is 0")
        # inner else statement
  else: 
         print("number is positive")
        # outer  else statement
else:
        print("number is negative")

In [ ]:
num=int(input("enter any number"))

In [ ]:
# nested if
num = 5
# outer if statement
if num >= 0:
    #inner if statement
  if  num == 0:
     print ("number is 0")
        # inner else statement
  else:
     print("number is positive")
        # outer  else statement
else:
    print("number is negative")

In [ ]:
# using and o operator
a = 20
b = 33
c = 500
if a>b and b>c:
  print("both conditions are true")
else:
  print("both conditions are false")

In [ ]:
# using and o operator
a = 200
b = 33
c = 5000
if a > b or b > c:
  print("both conditions are true")
else:
  print("both conditions are false")

In [ ]:
# while loop
i = 0
while (i<5):
     print (i)
     i = i+1

In [ ]:
i = 1
while i < 10 :                      # EVEN NUMBER
    print(i)
    i = i + 2

In [ ]:
i = 1                       #ODD NUMBER
while i < 10 :
    print(i)
    i = i + 2

In [ ]:
# FIND SUM OF FIRST 10 NATURAL NUMBERS
n = int(input("enter the last  number:"))
i = 1
sum = 0 
while (i <= n):
    sum = sum + i
    i = i + 1
    print (" the sum is:",sum)

In [ ]:
# FIND SquareOF FIRST 10 NATURAL NUMBERS
n = int(input("enter the squares: "))
i = 0 
while (i <= 10):
    square = i*i
    i = i + 1

In [14]:
# Break Statement
i = 1
while(i<10):
    print(i)
    if i==3 :
       break
    i= i+1

1
2
3

In [25]:
# Continue Statement
i = 0
while (i < 10):
    i = i+1
    if(i==3):
        continue
    print(i)

1
2
4
5
6
7
8
9
10

In [1]:
#w   for loop
# A for loop is used for iterarting over a sequence
# that is either list , a tuple , a dictionary or a string

l1 = ["A","B","C","D"]
for x in l1:
    print(x)

A
B
C
D

In [2]:
for x in "AAFT":
    print(x)

A
A
F
T

In [3]:
# break statement
# exit the loop when x is"B"
l1 = ["A","B","C","D"]
for x in l1:
    print(x)
    if x == 'B':
        break

A
B

In [28]:
# exit  the loop when x is b
l1 = ["A","B","C","D"]
for x in l1:
     if x == 'B':
        break
     print(x)

A

In [27]:
# continue statement
l1 = ["A","B","C","D"]
for x in l1:
    if x == "C":
        continue
    print(x)

A
B
D

In [31]:
#range function
for x in range (10):
   print(x)

0
1
2
3
4
5
6
7
8
9

In [33]:

for x in range (1,11):
   print(x)

1
2
3
4
5
6
7
8
9
10

In [34]:
for x in range (2,30,3):
   print(x)

2
5
8
11
14
17
20
23
26
29

In [38]:
# nested loop
l1=[1,2,3]
l2=['A','B','C']
for x in 12:
          for y in 13:
             print(x,y)

TypeError: 'int' object is not iterable

In [ ]:

#pass statement - for loops cannot be empty,
#but if you for some reason have a for loop with no content,

#put in pass statement to avoid getting an error.

In [35]:
# reverse 
i = 10
while i > 0:
    print(i)
    i= i-1;

10
9
8
7
6
5
4
3
2
1

In [36]:
i = 100
while i > 10:
    print(i)
    i= i-1;

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11

In [4]:
num = int(input("enter any number"))
fact = 1
while n >= 1:
     f = f * I
     n = n- 1
print("Factorial is ",fact)

enter any number 5

NameError: name 'n' is not defined

In [7]:
#wap to find a reverse
num = int(input(" enter a number:"))
rev = 0
while(num>0):
    rev=(rev*10)+num%10
    num=num//10
    print("reverse of given number is:",rev)

 enter a number: 25

reverse of given number is: 5
reverse of given number is: 52

In [31]:
# pallandrome
num = int(input(" enter a number:"))
rev = 0
x=num
while(num>0):
    rev=(rev*10)+num%10
    num=num//10
if rev==x:
    print("num is pallandrome")
else:
    print("non pallandrome")

 enter a number: 121

num is pallandrome

In [3]:
num = int(input(" enter a number:"))
sum = 0
x=num
while(num>0):
    sum=sum+(num/10)*(num/10)*(num/10)
    num=num//10
if x==sum:
    print("num is Armstrong")
else:
    print("non armstrong")

 enter a number: 525

non armstrong

# Arguments
def my_function(fname):
  print("Hello From a function")

In [13]:
def My_Function():
   print("Hello From a function")  # define function
    
My_Function

In [14]:
My_Function

In [15]:
def my_function():
    print("hello from a function") # calling function

my_function()

hello from a function

In [18]:
def my_function(fname):
    print(fname +  "trump")

my_function("donald ")

donald trump

In [23]:
def my_function(Time):
    print( Time +   "Date")
my_function("Monday")

MondayDate

In [ ]:
# arguments
# information can be passed into functions as arguments
# arguments are specified after function name, inside parentheses

In [24]:
my_function("Melliana")

MellianaDate

In [ ]:
a parameter is a variable

In [26]:
# function with multiple variables
def add(a,b):
    return a+b
add(6,7)
add(7,9)

16

In [ ]:
# a parameter is the variable listed inside the parameters in function defination
# an argument is the value that is sent to the function when it is called

In [ ]:
# syntax with return statement
def function_name(parameters)
    function body
return expression

In [27]:
add(7,9)

16

In [28]:
add(4,5)

9

In [31]:
def add(a,b):
    return a+b,a
add(2,4)

(6, 2)

In [32]:
def add(a,b):
    return a+b,b
add(2,4)

(6, 4)

In [59]:
def my_function(num):
  if num%2==0:
    print("this number is even")
  else:
    print("this number is odd")

In [60]:
my_function(5)

this number is odd

In [61]:
# write a function to swap two numbers without using third variable
def swap(a,b):
    a,b=b,a
    print(a)
    print(b)

In [62]:
swap(3,4)

4
3

In [1]:
# Python LibrarLibraries
#numpy
import numpy as np

In [2]:
arr1=np.array([1,2,3,4,5])
arr1

array([1, 2, 3, 4, 5])

In [3]:
type(arr1)

numpy.ndarray

In [5]:
arr2=np.array([[1,2,3],[4,5,6]])
arr2

array([[1, 2, 3],
       [4, 5, 6]])

In [6]:
arr3=np.zeros((2,3))
arr3

array([[0., 0., 0.],
       [0., 0., 0.]])

In [7]:
type(arr3)

numpy.ndarray

In [9]:
arr4=np.ones((3,3))
arr4

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [10]:
# 0 - d Array
arr=np.array(55)
arr

array(55)

In [12]:
# changing  dimensions for 
print(aar2.ndim)

NameError: name 'aar2' is not defined

In [14]:
print(arr2.ndim)

2

In [15]:
print(arr3.ndim)

2

In [16]:
# ascending element
print(arr1[0])

1

In [17]:
print(arr1[3])

4

In [20]:
arr2=np.array([[1,2,3],[4,5,6]])
arr2

array([[1, 2, 3],
       [4, 5, 6]])

In [27]:
arr2[0,0]

1